body {
    margin: 0;
    padding-right: 48px;
    padding-left: 48px;
    background-color: #f8f9fb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira, Sans, "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
    font-weight: bold;
    color: #1f5af6;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > div:first-child > img {
    width: 100px;
    cursor: pointer;
}

main {
    padding: 24px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14%);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    background-color: #f8f9fb;
}

.info__version,
.info__height {
    margin-right: 24px;
}

.info__version > p:first-child,
.info__height > p:first-child {
    color: #9ba6b2;
}

.blocks__title > p,
.transactions__title,
.block__title,
.address__title {
    padding: 0px 24px;
    font-size: 30px;
}

.blocks__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocks__title > div {
    padding: 0px 24px;
}

.blocks__title > div > a:first-child {
    margin-right: 10px;
}

.blocks__head,
.transactions__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    background-color: #f8f9fb;
    color: #9ba6b2;
}

.list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    border-bottom: 1px dashed #e9e9eb;
}

.list__item > div:last-child {
    text-align: end;
}

.list__item > div > p,
.list__item > div > p {
    margin: 10px 0px;
    color: #9ba6b2;
}

.list__item > div > a,
.list__item > div > a {
    display: block;
    margin: 10px 0px;
}

.block__title,
.address__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.block__title > p:last-child,
.address__title > p:last-child {
    margin-left: 10px;
    font-size: 26px;
    color: #9ba6b2;
}

.block__items > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.block__items > div > p:first-child {
    min-width: 100px;
    margin: 5px 0px;
    margin-right: 10px;
    padding: 10px 24px;
    background-color: #f8f9fb;
    color: #9ba6b2;
}

.block__items > div > p:last-child,
.block__items > div > a:last-child {
    max-width: max-content;
    text-overflow: ellipsis;
    overflow: hidden;
}

.balance__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #f8f9fb;
}

.balance__items > div > p:first-child {
    color: #9ba6b2;
}